@import url('https://fonts.googleapis.com/css?family=Poppins');
body
{    
    text-align: center;
    font-family: 'Poppins';
}

.container-fluid
{
    background-color: aliceblue;
    margin: auto; 
    width: 600px;
    padding:10px;

    box-shadow: 0 0 20px darkgray;
}

